.toy-list {
    @include flex();
    @include wrap();
    @include justify-center();
    @include clean-list();
    padding: rem(24px);
    gap: rem(30px);

    li {
        width: rem(350px);
        border-radius: rem(16px);
        background-color: lighten($clr7, 2%);
        padding: rem(16px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
    }
}