.about {
    .map-container {
        padding-block-start: rem(50px);
        width: 70vw;
        height: 70vh;
        margin: auto;

        .btn-city {
            margin: rem(5px);
            padding: rem(5px);
            background-color: $clr7;
        }
    }

    .map {
        overflow: hidden;
        border-radius: rem(16px);
        width: 100%;
        height: 100%;
    }
}