.toy-index {

    .control-panel {
        @include flex();
        @include wrap();
        @include center();
        margin: rem(30px);

        .btn-add {
            height: rem(70px);
            margin-block-end: 20px;
            margin-inline-end: rem(10px);
        }
    }

    .loader {
        margin: auto;
        position: absolute;
        top: 48.5%;
        left: 48.5%;
        z-index: 1;
    }

    .paging-container {
        width: fit-content;
        margin: auto;

        button {
            font-size: rem(20px);
            font-family: 'Varela Round', sans-serif;
            font-weight: 700;

            &:hover {
                background-color: lighten($clr2, 3%);
            }
        }
    }
}