* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

html {
  font-size: 62.5%;
  background-color: lighten($clr6, 3%);
}

body,
.app {
  height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  // height: 100%;
  // width: 100%;
  object-fit: cover;
}

button {
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
